ax650n_bsp_sdk
ax620e_bsp_sdk
build_ax650
build_ax630c
install
__pycache__
model_convert/calibrations_*
model_convert/datasets
model_convert/datasets.zip
model_convert/small
model_convert/datasets
model_convert/datasets
models-ax650
models-ax630c
*.bias
*.weight